# Primera entrega ML

### Título de proyecto

In [ ]:
# Escribir el título de proyecto en Markdown
titulo = "Modelo para predecir el impago de un préstamo"

# Modelo para predecir el impago de un préstamo #

### Tema

In [ ]:
tema = "El estudio consiste en determinar si las variables de un dataset explican el pago o impago de un crédito" # Breve descripción del proyecto

In [ ]:
# Describir el tema en Markdown

El estudio consiste en determinar si las variables de un dataset explican el pago o impago de un crédito

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

In [ ]:
tipo_ml = "Clasificación" # Regresión? Clasificación?
# Descripción de la variable objetivo
target_descr = "loan_status, Indica si un préstamo ha sido o no pagado. Y tratamos de predecir si un tercer status, los de los créditos aún viegentes se pagarán"
metricas = ['accuracy', 'recall', 'precision', 'f1', 'auc-roc'] # Metricas escogidas para evaluar los modelos

In [ ]:
# dasets y enlaces de datasets en Markdown
enlace1 = ['https://aws-blogs-artifacts-public.s3.amazonaws.com/artifacts/ML-8799/loans-part-1.csv', 'https://aws-blogs-artifacts-public.s3.amazonaws.com/artifacts/ML-8799/loans-part-2.csv'] # ["www.paginacondatos.com", "www.paginawebscrapeada.com", "www.unaapi.com"]

In [2]:
import pandas as pd

In [3]:
# load dataset
df_1 = pd.read_csv('../data/raw/loans-part-1.csv')
df_1.head()

,id,loan_status,loan_amount,funded_amount_by_investors,loan_term,interest_rate,installment,grade,sub_grade,verification_status,issued_on,purpose,dti,inquiries_last_6_months,open_credit_lines,derogatory_public_records,revolving_line_utilization_rate,total_credit_lines
0,1077501,fully paid,5000,4975.0,36,10.65,162.87,b,b2,verified,2011-12-01,credit_card,27.65,1,3,0,83.7,9
1,1077430,charged off,2500,2500.0,60,15.27,59.83,c,c4,source verified,2011-12-01,car,1.00,5,3,0,9.4,4
2,1077175,fully paid,2400,2400.0,36,15.96,84.33,c,c5,not verified,2011-12-01,small_business,8.72,2,2,0,98.5,10
3,1076863,fully paid,10000,10000.0,36,13.49,339.31,c,c1,source verified,2011-12-01,other,20.00,1,10,0,21.0,37
4,1075358,current,3000,3000.0,60,12.69,67.79,b,b5,source verified,2011-12-01,other,17.94,0,15,0,53.9,38

In [4]:
# load dataset
df_2 = pd.read_csv('../data/raw/loans-part-2.csv')
df_2.head()

,id,employment_length,employer_title,home_ownership,annual_income
0,1077501,10.0,NaN,rent,24000.0
1,1077430,1.0,ryder,rent,30000.0
2,1077175,10.0,NaN,rent,12252.0
3,1076863,10.0,air resources board,rent,49200.0
4,1075358,1.0,university medical group,rent,80000.0